<template>
    <nav class="navbar navbar-expand-sm navbar-dark bg-success mb-4">
        <div class="container">
            <a href="#" class="navbar-brand">Asteroid Neo</a> 
        </div>
    </nav>
</template>